.index-main{
    margin: 0px;
}
body {
    color: #444444;
    font-family: '宋体',ncursive,Arial,Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #222222;
}
#jqContent{
    background-attachment: fixed;
    background-color: #222222;
    background: url("../../images/templatemo_juice.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    background-position: center top;
    background-repeat: repeat-x;
    margin: 0 auto;
    width: 100%;
}
#headerCss {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    width: 930px;
}
#mainCss {
    background-position: right top;
    background-repeat: repeat-y;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}
#footercss {
    clear: left;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}
#headerLeft {
    background-position: left bottom;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

#headerCenter {
    background-position: center bottom;
    background-repeat: repeat-x;
    float: left;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 770px;
}
#headerRight {
    background-position: right bottom;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

#mainInner {
    background-color:#ffffff;
    background-position: left top;
    background-repeat: repeat-y;
    float: left;
    width: 930px;
}

#box {
    background-color: #FFFFFF;
    margin-left: 30px;
    width: 780px;

}
#content{
    margin:20px 50px 100px 50px;
    text-align: left;
    word-break:break-all;
}
#times{
    margin-left:50px;
}	