<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线答疑</title>
    <script src="__STATIC__/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css" media="all">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <block name="style"></block>
</head>
<body>
	<div>
        <block name="larer-top"></block>
    </div>
    <input type="hidden" id="root_url" value="__ROOT__"/>
    <input type="hidden" id="model_url" value="__URL__"/>
    <input type="hidden" id="img_url" value="__IMG__"/>
    <input type="hidden" id="img_index" value=""/> 
    <script type="text/javascript" src="__STATIC__/layerv1.8.5/layer/layer.min.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript">
        /**   
         * 公用方法，
         * msg:提示的消息。
         * guide：表示箭头方向（0：上，1：右，2：下，3：左）。
         * obj：表示靠近的元素对象F26C4F，0FA6D8
         */
        function tips(msg,guide,obj){
            layer.tips(msg, obj, {
                style: ['background-color:#0FA6D8; color:#fff', '#0FA6D8'],
                maxWidth:250,
                more: false,
                guide: guide,
                isGuide:true,
                time: 0,
                closeBtn:[0, true]
            });
        }

        //公用方法，msg:提示的消息。type：提示的图标
        function msg(msg,type){
            layer.msg(msg, 2, {type: type, shade: false, rate: 1});
        }

        /**
         * 1：绿色对号   2：交叉铅笔      3： 禁用标志   4： 问号  
         * 5：禁止       6：很棒，大拇指  7： 锁         8： 哭脸
         * 9：笑脸       10：对号         11：闹钟       12：微信对话        
         * 13：大便      14：发信息       15：向下箭头   16：等待图标  
         * 相关参考：http://sentsin.com/jquery/layer  
         */ 
         //时间格式化
        function gettime(search_time){
            var search_time = $.trim(search_time);
            if(search_time == '' || search_time == null){
                return '';
            }
            var new_str = search_time.replace(/:/g,'-');
            new_str = new_str.replace(/ /g,'-');
            var arr = new_str.split("-");
            if(new_str.length == 10){
                arr[3] = '00';
                arr[4] = '00';
                arr[5] = '00';
            }
            var datum = new Date(Date.UTC(arr[0],arr[1]-1,arr[2],arr[3]-8,arr[4],arr[5]));
            return datum.getTime();
        }

    </script>
    <block name="script"></block>
</body>
</html>
