<extend name="Public/index"/>

<block name="style">
	<link rel = "stylesheet" type="text/css" href="__CSS__/setinfo.css">
</block>
<block name="content">
	<div id = "data-top">
   		<div class="title-top">
   			<b>添加图书</b>
   		</div>
   </div>
    <div id="please-pop" style = "margin-top:40px;">
    	<div class="form-div">
    		<span class="title-tips">类 &nbsp; &nbsp; 别： &nbsp;</span><input class="text-input" name = "type_name" placeholder="请填写类别名" type="text">
    	</div>
    	<div class="create_save">
    		<div class = "but bcanael">取消</div>
    		<div class = "but bsave">确认</div>
    	</div>
    </div> 
</block>
<block name="script">
<script>
    $(".bsave").click(function(){
        $.ajax({
            url:$("#model_url").val()+'/bsave',
            type:"POST",
            dataType:"TEXT",
            data:{
                type_name:$.trim($("input[name='type_name']").val())
            },
            success:function(data){
                if(data > 0){   
                    web_notice('添加成功',0);
                    $("input[name='type_name']").val('');
                }else{
                    web_notice('添加失败',1);
                } 
            }
        });
    });
</script>
</block>


