<extend name="Public/index"/>
<block name="content">
    <div id="please-pop">
    	<div class="form-div">
    		<span class="title-tips">原 密 码：</span>&nbsp;&nbsp;<input class="text-input" id = "old_pwd" placeholder="请填写原密码" type="password">
    	</div>
    	<div class="form-div">
    		<span class="title-tips">新 密 码：</span>&nbsp;&nbsp;<input class="text-input" id = "new_pwd" placeholder="请填写新密码" type="password">
    	</div>
    	<div class="form-div">
    		<span class="title-tips">确认密码：</span>&nbsp;&nbsp;<input class="text-input" id = "re_pwd" placeholder="请填写确认密码" type="password">
    	</div>
    	<div class="create_save">
    		<div style = 'margin-left:250px;' class = "but bsave">确认</div>
    	</div>
    </div> 
</block>
<block name="script">
    <script>
        $(".bsave").click(function(){
            var old_pwd = $.trim($("#old_pwd").val());
            var new_pwd = $.trim($("#new_pwd").val());
            var re_pwd  = $.trim($("#re_pwd").val());
            $.ajax({
                url:$("#model_url").val()+'/save_pwd',
                type:"POST",
                dataType:"TEXT",
                data:{
                    old_pwd:old_pwd,
                    new_pwd:new_pwd,
                    re_pwd :re_pwd
                },
                success:function(data){
                    web_notice('修改失败',1);
                    if(data == 5){ 
                        web_notice('数据不完整',1);      
                    }else if(data == 4){ 
                        web_notice('确认密码不正确',1);      
                    }else if(data == 2){ 
                        web_notice('新密码和旧密码相同',1);      
                    }else if(data == 3){
                        web_notice('原密码错误',1);
                    }else if(data > 0){
                        web_notice('修改成功',0);
                    }else{
                        web_notice('修改失败',1);
                    }
                }
            });
        });
    </script>
</block>


