<extend name="Public/index"/>

<block name="style">
	<link rel = "stylesheet" type="text/css" href="__CSS__/setinfo.css">
</block>
<block name="content">
    <div id="please-pop">
    	<div class="form-div">
    		<span class="title-tips">用 户 名： &nbsp;</span><input disablely  class="text-input" disabled="disabled" value="{$result.user_name}" id = "user_name" placeholder="请填写用户名" type="text">
    	</div>
    	<div class="form-div">
    		<span class="title-tips"> 真实姓名： </span><input class="text-input" id = "rela_name" value="{$result.real_name}" placeholder="请填写真实姓名" type="text">
    	</div>
    	<div class="form-div">
    		<span class="title-tips"> 性&nbsp; &nbsp;&nbsp; 别：</span>
    		<span class="title-tips">男</span><input  name= 'sex' class="user_sex" value='0' type="radio"> &nbsp;
    		<span class="title-tips">女</span><input name= 'sex'value='1' style="margin-right:160px;" class = "user_sex" type="radio">
    	</div>
    	<div class="form-div">
    		<span class="title-tips">&nbsp;电&nbsp; &nbsp; 话：</span> <input class="text-input" value="{$result.phone}" id = "phone" placeholder="请填写电话" type="text">
    	</div>
    	
    	<div class="create_save">
    		<div class = "but bcanael">取消</div>
    		<div class = "but bsave">确认</div>
    	</div>
        <input type='hidden' id="user_id" value='{$result.id}'>
        <input type='hidden' id="user_sex_hidden" value='{$result.gender}'>
    </div> 
</block>
<block name="script">
    <script>
        if($.trim($('#user_sex_hidden').val()) == 0){
            $(".user_sex:eq(0)").attr('checked',true);
        }else{
            $(".user_sex:eq(1)").attr('checked',true);
        }
        $(".bsave").click(function(){
            var user_id   = $.trim($("#user_id").val());
            var rela_name = $.trim($("#rela_name").val());
            var gender    = $.trim($(".user_sex:checked").val());
            var phone     = $.trim($("#phone").val());

            $.ajax({
                url:$("#model_url").val()+'/save_info',
                type:"POST",
                dataType:"TEXT",
                data:{
                    user_id:user_id,
                    rela_name:rela_name,
                    gender :gender,
                    phone:phone
                },
                success:function(data){
                    web_notice('修改失败',1);
                    if(data == 5){ 
                        web_notice('数据不完整',1);      
                    }else if(data == 4){ 
                        web_notice('确认密码不正确',1);      
                    }else if(data == 2){ 
                        web_notice('新密码和旧密码相同',1);      
                    }else if(data == 3){
                        web_notice('原密码错误',1);
                    }else if(data > 0){
                        web_notice('修改成功',0);
                    }else{
                        web_notice('修改失败',1);
                    }
                }
            });
        });
    </script>
</block>


