.ztree{
    border:1px solid #aaa;
    padding:5px;
    background-color:#eeeeee;
    min-width: 230px;
    height:370px;
    background: none repeat scroll 0 0 #f0f6e4;
    overflow-x: auto;
    overflow-y: scroll;
}
.tree_role{
    margin-left:30px;
}
.tree_role p{
	font:14px "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
}
#authority_table{
	margin-left:30px;
}
#authority_table .but{
	margin: 25px 20px 13px 30px;
}
#authority_table td{
	margin-left:20px;
}
#set_notice{
	width:220px;
	height:200px;
	border-radius: 5px;
	margin-left:20px;
	margin-top:-130px;
	padding:10px;
}
#set_notice b{
	font-size: 14px;
}
#set_notice p{
	font-size: 13px;
	font:12px "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
	font-weight: 200;
}
#data-top{
	min-width: 1120px;
}