<extend name="Public/layer-index"/>
<block name="style">
    <link rel = "stylesheet" type="text/css" href="__CSS__/setinfo.css">
</block>
<block name="larer-top">
      <div id="please-pop" style = "margin-left:50px;">
        <div class="form-div">
            用 户 名： <input class="text-input" id = "user_name" placeholder="请填写用户名" type="text">
        </div>
        <div class="form-div">
            &nbsp;电&nbsp;&nbsp;&nbsp; 话： <input class="text-input" id = "phone" placeholder="请填写电话" type="text">
        </div>
        <div class="form-div">
            &nbsp;类&nbsp;&nbsp;&nbsp; 别： 
            <select id = "user_type" class="text-input">
                    <option value="5">-请选择-</option>
                    <option value="2">学生</option>
                    <option value="3">老师</option>
                </select>
        </div>  
        <div class="form-div">
            性&nbsp;&nbsp;&nbsp; 别：
            男<input name = "user_sex" value='0' type="radio" checked="true"> 
            女<input style="margin-right:160px;" value='1' name = "user_sex" type="radio">
        </div>
        <div class="create_save">
            <div class = "but bcanael">取消</div>
            <div class = "but bsave" onclick='addusers()'>确认</div>
        </div>
    </div> 
</block>

<block name="script">
  <script>
        function addusers(){
            var user_name = $.trim($("#user_name").val());
            if(user_name == ''){
                alert('用户名不能为空');
                return false;
            }
            var phone     = $.trim($("#phone").val());
            var gender    = $.trim($("input[name='user_sex']:checked").val());
            if(user_name == ''){
                alert('姓名不能为空');
                return false;
            }
            var user_type = $.trim($("#user_type").val());
            if(user_name == ''){
                alert('类别不能为空');
                return false;
            }
            $('.witing').css('display','block');
            $.ajax({
                url:$("#model_url").val()+'/addusers',
                type:"POST",
                dataType:"TEXT",
                data:{
                    user_name :user_name,
                    phone     :phone,
                    gender    :gender,
                    user_type :user_type
                },
                success:function(data){
                    if(data > 0){   
                        alert('添加成功');
                    }else if(data == -1){
                        alert('用户名已经存在！ ');
                    }else{
                        alert('添加失败');
                    }
                }
            });
         }
  </script>
</block>


