<extend name="Public/index"/>
<block name="content">
       <div id = "data-top">
       		<div class="title-top">
       			<b>用户信息设置</b>
       		</div>
       		<div class="title-content">
	       		<span>姓名:</span>
	       		<input class = "select-type" type="text" id = "search_user_name">
	       		
	       		<span>电话:</span>
	       		<input class = "select-type" id="search_phone" type="text" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
	       		
	       		<span>性别:</span>
	       		<select id = "search_user_sex" class="select-type select-check">
	       			<option value="2">-性别-</option>
	       			<option value="0">男</option>
	       			<option value="1">女</option>
	       		</select>
	       		
	       		<span>类别:</span>
	       		<select id = "search_user_type" class="select-type select-check">
	       			<option value="5">-请选择-</option>
	       			<option value="3">学生</option>
	       			<option value="2">老师</option>
	       		</select>
	       		<span class = "databutton datasearch" onclick="user_search()">检索</span>
	       		<span class = "databutton dataimport" onclick='add_users()'>新增</span>
	       	</div>
       		<div style="clear:both;">
       		</div>
       </div>

       <div id = "data-botton">
	       	<table class = "data-table">
	       	     <tr>
	       	     	<th class = "first-tr">用户名</th>
	       	     	<th>性别</th>
	       	     	<th>电话</th>
	       	     	<th>类别</th>
	       	     	<th>创建时间</th>
	       	     	<th>操作</th>
	       	     </tr>
	       	     <notempty name = "user_list">
		       	     <volist name = "user_list" id = "vo">
		       	     	<tr>
			       	     	<td class="first-tr">{$vo.user_name}</td>
			       	     	<td>
			       	     		<if condition = "$vo.gender eq 1">
			       	     			女<else/>男
			       	     		</if>
			       	     	</td>
			       	     	<td>{$vo.phone}</td>
			       	     	<td>
			       	     		<if condition="$vo.user_type eq 2">
			       	     			学生
			       	     		<else/>
			       	     			老师
			       	     	    </if>
			       	     	</td>
			       	     	<td>{$vo.create_time|date='Y-m-d',###}</td>
			       	     	<td>
			       	     	   <a href="javascript:" onclick="user_delete('{$vo.id}')">删除</a> 
			       	     	</td>
			       	     </tr>
		       	     </volist>
		       	</table>
		       	<else/>			
	       		</table>
	       		<div class="no-notice"><h3>ai..暂时无数据!</h3></div>
	       	</notempty>
	       	 <div class="witing-div">
			{$_page}
			</div>
			<div class="witing-div">
				<img class='witing' src='__IMG__/loading_icon.gif'>
			</div>
       </div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/layerv1.8.5/layer/layer.min.js"></script>
	<script>
		function add_users() {
            $.layer({
                type: 2,
                shade: [0],
                fix: false,
                title: '图书信息修改',
                shade: [0.1, '#000'],
                maxmin: true,
                iframe: {src : $("#model_url").val()+'/add_user'},
                area: ['600px' , '450px']
            });
        }
		function user_delete(id){
			$.ajax({
                url:$("#model_url").val()+'/user_delete',
                type:"POST",
                dataType:"TEXT",
                data:{
                    id:id
                },
                success:function(data){
                	if(data > 0){	
                		search_data(); //异步刷新
                		web_notice('操作成功',0);
                	}else{
                		web_notice('操作失败',1);
                	} 
                }
            });
		}
		function user_search(){
			$("#PageNum").val(1);
			search_data();
		}

		//异步分页
        function search_data(){
            var p         = $("#PageNum").val();
            var user_name = $.trim($("#search_user_name").val());
            var phone     = $.trim($("#search_phone").val());
            var gender    = $.trim($("#search_user_sex").val());
            var user_type = $.trim($("#search_user_type").val());

            $('.witing').css('display','block');
            $.ajax({
                url:$("#model_url").val()+'/user_data_search',
                type:"POST",
                dataType:"TEXT",
                data:{
                    p:p,
                    user_name :user_name,
                    phone     :phone,
                    gender    :gender,
                    user_type :user_type,
                },
                success:function(data){
                    $(".witing").css("display","none");
                    $("#data-botton").html(data);
                }
            });
         }
	</script>
</block>


