<extend name="Public/index"/>
<block name="content">
        <!-- <link rel="stylesheet" href="__CSS__/news1/news.css"> -->
	    <style>
		    .inputs{
		    	margin-right:40px;
		        margin-top:20px;
		        height:70px;
		    }
		    .but{
		    	margin-bottom:20px;
		    	margin-top:20px;
		    	margin-left:60px;
		    }
		    .bsave{
		    	margin-left:0px;
		    }
		    .role_input{
		    	width:280px;
		        height:350px;
		        margin-top:10px;
		        border:1px #ccc solid;
		    }
		    #data-top table{
		    	margin-left:20px;
		    	margin-top:20px;
		    }

		    #set_notice{
				width:220px;
				height:200px;
				border-radius: 5px;
				margin-left:20px;
				margin-top:-130px;
				padding:10px;
			}
			#set_notice b{
				font-size: 14px;
			}
			#set_notice p{
				font-size: 13px;
				font:12px "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
				font-weight: 200;
			}
			#select_role{
				width:180px;
				height:30px;
			}
		</style>
        <div id = "data-top">
            <div class="title-top">
                <b>用户角色管理>>关联用户</b> 
            </div>
            <table>
		        <tr>
		            <td style="width:330px;">
		                <div>
		                    <span class="title-tips">可选用户：</span>
		                </div>
		            </td>
		            <td></td>
		            <td>
		             	<div>
		             	    <span class="title-tips">角色类型：</span>
		                    <select onchange='role_search_user()' id='select_role' > 
		                    	<option value="0">请选择角色</option>
	                        	<volist name='role_list' id='vo'>
	                           	 	<option valuename = "{$vo.name}" value = '{$vo.id}'>{$vo.name}</option>
	                         	</volist>
	                    </select>
		                </div>  
		            </td>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>
		        		<select class="role_input" id="all_user_list" name="all_user_list" multiple>
		                    <volist name="user_list" id="vo">
		                        <option class="options_list" value="{$vo['id']}" title = "{$vo['province']}">{$vo['id']}--{$vo['user_name']}--{$vo['phone']}</option>
		                    </volist>
		                </select>
		        	</td>
		        	<td>
		        		<input onclick="add_right()" class="inputs" type="button" value="》》" /><br>
		                <input onclick="del_right()" class="inputs" type="button" value="《《" />
		        	</td>

		        	<td>
		        		<select  class="role_input" id="now_user_list" name="mowPermission" multiple>
		                    <volist name="role_user_list" id="vos">
		                        <option calss='option-select-list' value="{$vos['id']}">{$vos.id}--{$vos.user_name}--{$vos.phone}</option>
		                    </volist>
		                </select>
		        	</td>
		        	<td>
		        		<div id="set_notice">
				    		<b class="notice_star">提示：*</b>
				    		<p>1：要改变权限请先选择对应的角色，然后在【权限节点】与【用户权限】两个框之间选择节点相互拖动，最后【用户权限】框对应的节点即是该角色对应的权限。</p>
				    		<p>2：选项框中父类对应左一级导航，子类对应父导航下的滑动子导航。</p>
				    		<p>3：点击确定按钮完成保存。</p>
				    	</div>
		        	</td>
		        </tr>
		        <tr>
		        	<td>
		        		<div class = "but bsave" onclick="javascript:history.go(-1)">取消</div>
		        		<div class = "but bcanael" onclick="save_role()">确认</div>
		        	</td>
		        	<td></td>
		        	<td></td>
		        	<td></td>
		        </tr>
		    </table>
           <input type="hidden" value="{$role_id}" id="role_type">
       </div> 
</block>
<block name="script">
<script charset="utf-8" src="__JS__/user/role_rela.js"></script>
  <script>
        //改变导航选中的颜色 
        var model_url_child = 'User/user_role';
        change_topline_color(model_url_child);
        setlincolor(model_url_child);
        $("#children_color").val(model_url_child);

        function role_search_user(){
        	var role_id = $("#select_role").attr('value');
        	$("#role_type").val(role_id);
        	$.ajax({
                url:$("#model_url").val()+'/role_search_user',
                dataType:'text',
                type:'post',
                data:({
                    role_id:role_id
                }),
                success:function(data){
                    $("#now_user_list").html(data);
                }
            });
        }
  </script>
</block>