<extend name="Public/layer-index"/>
<block name="style">
    <link rel = "stylesheet" type="text/css" href="__CSS__/setinfo.css">
</block>
<block name="larer-top">
      <div id="please-pop" style = "margin-left:60px;">
        <div class="form-div">
            用 户 名： <input class="text-input" name = "user_name" placeholder="请填写用户名" type="text">
        </div>
        <div class="form-div">
            &nbsp;电&nbsp;&nbsp;&nbsp; 话： <input class="text-input" name = "phone" placeholder="请填写电话" type="text">
        </div>
        <div class="form-div">
            &nbsp;邮&nbsp;&nbsp;&nbsp; 箱： <input class="text-input" name = "email" placeholder="请填写邮箱" type="text">
        </div>  
        <div class="form-div">
            性&nbsp;&nbsp;&nbsp; 别：
            男<input name = "user_sex" type="radio" checked="true"> 
            女<input style="margin-right:160px;"name = "user_sex" type="radio">
        </div>
        <div style="margin-left:85px;">地&nbsp;&nbsp;&nbsp; 区：
        <select id = "add_province" onchange="get_city()" >
            <volist name="province" id="vo">
                <option value = "{$vo.id}">{$vo.name}</option>
            </volist>
        </select>
        <select id = "add_city" onchange="get_area()">
            <option value="0">选择市</option>
        </select><br>
        <select id = "add_area" style="margin-left:87px;margin-top:10px;">
            <option value="0">选择区</option>
        </select>
        </div>
        <div class="create_save">
            <div class = "but bsave">取消</div>
            <div class = "but bcanael">确认</div>
        </div>
    </div> 
</block>

<block name="script">
  <script>
       // get_city(4);
  </script>
</block>


