.upload-img-box {
	float:left;
	margin-right: 4px;
	margin-bottom:10px;
}
.upload-img-box .upload-pre-item {
	padding: 1px;
	max-width: 120px;
	height: 66px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all .3s linear;
}
.upload-img-box .upload-pre-item:hover{
	border: 1px solid blue;
}
.upload-img-box .upload-pre-item img {
	vertical-align: top;
	max-width: 120px;
	height: 66px;
}

/* 上传图片点击弹出层 */
.upload-img-popup {
	position: fixed;
	z-index: 9999;
	padding: 3px;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
}
.upload-img-popup .close-pop {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 17px;
	height: 17px;
	background: url("bg_icon.png") no-repeat -25px 0;
}
.upload-img-popup .close-pop:hover {
	text-decoration: none;
	border-bottom: 0 none;
}
.upload-img-popup img {
	display: block;
	max-width:1215px;
	max-height:577px;
}