<extend name="Public/index"/>
<block name="content">
       <div id = "data-top">
       		<div class="title-top">
       			<b>历史借阅</b>
       		</div>
       		<div class="title-content">
	       		<span>书名:</span>
	       		<input class = "select-type" type="text" id = "search_book_name" value='{$content.book_name}'>
	       		<span class = "databutton datasearch" onclick="user_search()">检索</span>
	       	</div>
       		<div style="clear:both;">
       		</div>
       </div>

       <div id = "data-botton">
	       	<table class = "data-table">
	       	     <tr>
	       	     	<th class = "first-tr">书名</th>
	       	     	<th>图书类别</th>
	       	     	<th>借阅时间</th>
	       	     	<th>是否超期</th>
	       	     	<th>超期天数</th>
	       	     	<th>应交金额</th>
	       	     </tr>
	       	     <notempty name = "result">
		       	     <volist name = "result" id = "vo">
		       	     	<tr>
			       	     	<td class="first-tr">{$vo.name}</td>
			       	     	<td>{$vo.type_name}</td>
			       	     	<td>
			       	     		{$vo.create_time|date='Y-m-d',###}
			       	     	</td>
			       	     	<td>
			       	     		<if condition = "$vo.is_past eq 1">
			       	     			是<else/>否
			       	     		</if>
			       	     	</td>
			       	     	<td>
			       	     		{$vo.pass_time}
			       	     	</td>
			       	     	<td>{$vo.money}</td>
			       	     </tr>
		       	     </volist>
		       	</table>
		       	<else/>			
	       		</table>
	       		<div class="no-notice"><h3>ai..暂时无数据!</h3></div>
	       	</notempty>
	       	 <div class="witing-div">
			{$_page}
			</div>
			<div class="witing-div">
				<img class='witing' src='__IMG__/loading_icon.gif'>
			</div>
       </div>
</block>
<block name="script">
	<script>
		function borrow_book(id){
			$.ajax({
                url:$("#model_url").val()+'/borrow_book',
                type:"POST",
                dataType:"TEXT",
                data:{
                    id:id
                },
                success:function(data){
                	if(data > 0){	
                		web_notice('借阅成功',0);
                		setTimeout("window.location.reload();",1500);
                	}else{
                		web_notice('借阅失败',1);
                	} 
                }
            });
		}
		//查询
        function user_search(){
            var p         = $("#PageNum").val();
            var book_name = $.trim($("#search_book_name").val());
            window.location.href = $('#model_url').val()+"/history?p="+p+"&book_name="+book_name;
         }
	</script>
</block>