<extend name="Public/index"/>
<block name="content">
        <link rel="stylesheet" href="__CSS__/news/news.css">
        <link rel="stylesheet" href="__STATIC__/kindeditor-4.1.10/themes/default/default.css" />
        <script charset="utf-8" src="__STATIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
        <script charset="utf-8" src="__STATIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>

        <div id = "data-top">
            <div class="title-top">
                <b>新闻管理>>修改新闻</b>
            </div>
            <div class="form-div">
                <span class="title-tips">新闻标题：</span><b class="notice_star">*</b><input class="text-input" id = "news_title" value="{$total_list.title}" placeholder="请填写新闻标题" type="text">
            </div>
            <div id="news_content">
                <div style="margin-bottom:8px;">
                     <span class="title-tips">新闻内容：</span><b class="notice_star">*</b></div>
                <textarea name="content" wrap="hard" style="word-break:break-all;width:800px;height:350px;"  >{$total_list.content}</textarea>
            </div>
            <div class="create_save">
                <div class = "but bcanael" onclick="javascript:history.go(-1)">取消</div>
                <div class = "but bsave">确认</div>
            </div>
            <input type='hidden' id="hideen_new_id" value='{$total_list.id}'>
            <input type='hidden' id="hideen_status" value='update'>
            <div style='clear:both;'></div>
       </div> 
</block>

<block name="script">
  <script>
        //改变导航选中的颜色 
        var model_url_child = 'Webset/index';
        change_topline_color(model_url_child);
        setlincolor(model_url_child);
        $("#children_color").val(model_url_child);
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                allowFileManager : true,
                loadStyleMode : false
            });
        });

        //提交数据
        $(".bsave").click(function(){
            var title = $("#news_title").val();
            if(title == ''){
                web_notice('请输入新闻标题！',1);
                return false;
            }
            if(title.length > 20){
                web_notice('新闻标题过长！',1);
                return false;
            }
            if(editor.isEmpty()){
                web_notice('请输入新闻内容！',1);
                return false;
            }
            var content       = editor.html();
            var url           = $("#model_url").val()+'/add_news';
            var hideen_new_id = $.trim($("#hideen_new_id").val());
            var hideen_status = $.trim($("#hideen_status").val());
            $.ajax({
                url:url,
                dataType:'text',
                type:'post',
                data:({
                    title:title,
                    content:content,
                    hideen_new_id:hideen_new_id,
                    hideen_status:hideen_status
                }),
                success:function(data){
                    if(data > 0){
                        web_notice('修改成功',0);
                        setTimeout("window.location='"+$("#model_url").val()+"/index';",1000);
                    }else{
                        web_notice('修改失败',1);
                    }
                }
            });
        });
  </script>
</block>
