<extend name="Public/index"/>
<block name="content">
       <div id = "data-top">
       		<div class="title-top">
       			<b>超期查询</b>
       		</div>
       		<div class="title-content">
	       		<span>书名:</span>
	       		<input class = "select-type" type="text" id = "search_book_name" value='{$content.book_name}'>
	       		<span>借书人:</span>
	       		<input class = "select-type" type="text" id = "search_user_name" value='{$content.user_name}'>
	       		<span>类别:</span>
	       		<select id = "search_book_type" class="select-type select-check">
	       			<option class='select_type' value="0">请选择类别</option>
		            <volist name="lists" id="vo">
		                 <option class='select_type'  value='{$vo.id}'>{$vo.name}</option>
		            </volist>
	       		</select>
	       		<span class = "databutton datasearch" onclick="search_data()">检索</span>
	       	</div>
       		<div style="clear:both;">
       		</div>
       </div>

       <div id = "data-botton">
	       	<table class = "data-table">
	       	     <tr>
	       	     	<th class = "first-tr">书名</th>
	       	     	<th>图书类别</th>
	       	     	<th>借书人</th>
	       	     	<th>借阅时间</th>
	       	     	<th>应还日期</th>
	       	     	<th>超期天数</th>
	       	     	<th>应交金额</th>
	       	     </tr>
	       	     <notempty name = "result">
		       	     <volist name = "result" id = "vo">
		       	     	<tr>
		       	     		<td class="first-tr">{$vo.name}</td>
			       	     	<td>{$vo.type_name}</td>
			       	     	<td>{$vo.user_name}</td>
			       	     	<td>
			       	     		{$vo.create_time|date='Y-m-d',###}
			       	     	</td>
			       	     	<td>
			       	     		{$vo.realback_time|date='Y-m-d',###}
			       	     	</td>
			       	     	<td>
			       	     		{$vo.pass_time}
			       	     	</td>
			       	     	<td>{$vo.money}</td>	
			       	     </tr>
		       	     </volist>
		       	</table>
		       	<else/>			
	       		</table>
	       		<div class="no-notice"><h3>ai..暂时无数据!</h3></div>
	       	</notempty>
	       	 <div class="witing-div">
			{$_page}
			</div>
			<div class="witing-div">
				<img class='witing' src='__IMG__/loading_icon.gif'>
			</div>
       </div>
       <input type='hidden' id = 'se_book_type' value='{$content.book_type}'>
</block>
<block name="script">
	<script>
		$(".select_type").each(function(){
			if($.trim($(this).val()) == $.trim($('#se_book_type').val())){
				$(this).attr('selected',true);
			}
		});

		//查询
        function search_data(){
            var p         = $("#PageNum").val();
            var book_name = $.trim($("#search_book_name").val());
            var book_type = $.trim($("#search_book_type").val());
            var user_name = $.trim($("#search_user_name").val());
            window.location.href = $('#model_url').val()+"/back_info?p="+p+"&book_name="+book_name+"&book_type="+book_type+"&user_name="+user_name;
         }	
	</script>
</block>