<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index.css" media="all">
<link rel = "stylesheet" type="text/css" href="__CSS__/setinfo.css">
    <div id="please-pop" style = "margin-top:40px;">
    	<div class="form-div">
	    	<span class="title-tips">类&nbsp;别：</span>
	   		<select id = "search_book_type" class="text-input">  
	   			<option value="0">请选择类别</option>
		        <volist name="lists" id="vo">
		            <option class='select_item' value='{$vo.id}'>{$vo.name}</option>
		        </volist>
	   		</select>
	   	</div>
    	<div class="form-div">
    		<span class="title-tips">书&nbsp;名： &nbsp;</span><input class="text-input" name = "book_name" placeholder="请填写图书名" type="text">
    	</div>
    	<div class="create_save">
    		<div class = "but bcanael">取消</div>
    		<div class = "but bsave">确认</div>
    	</div>
    	<input type='hidden' name='' value='chbook_id'>
    	<input type="hidden" id="model_url" value="__URL__"/>
    </div> 
<script>
	var chbook_type = parent.$('#chbook_type').val();   
	var chbook_name = parent.$('#chbook_name').val();   
	var chbook_id   = parent.$('#chbook_id').val();   
	$("input[name='book_name']").val(chbook_name);
	$("input[name='chbook_id']").val(chbook_id);
	$(".select_item").each(function(){
		if($.trim($(this).html()) == $.trim(chbook_id)){
			$(this).attr('selected',true);
		}
	});
    $(".bsave").click(function(){
        var type_id = $.trim($("#search_book_type").val());
        if(type_id == ''){
            web_notice('请选择类别',1);
            return false;
        }
        $.ajax({
            url:$("#model_url").val()+'/edit_book',
            type:"POST",
            dataType:"TEXT",
            data:{
                book_name  :$.trim($("input[name='book_name']").val()),
                type_id    :type_id,
                chbook_type:chbook_type
            },
            success:function(data){
                if(data > 0){   
                    alert('修改成功');
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                }else{
                    alert('修改失败');
                } 
            }
        });
    });
    $(".bcanael").click(function(){
    	parent.layer.close(parent.layer.getFrameIndex(window.name));
    });
</script>
